/* CSS for ACME Site*/

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

/* General Rules */

.hide{
    display: none;
}

html{
    background-image: url("/acme/images/site/background.jpg");
}

body{
    background-color: white;
    width: 95%;
    margin: auto;
}

#logo{
    width: 280px;
    margin-left: 5px;
}

nav ul{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #990033;
    color: white;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    margin: 0;
}

nav ul li{
    margin-right: 15px;
}

h1{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 22px;
    margin: 5px;
}

#featured{
    background-image: url("../images/site/feature.jpg");
    background-size: cover;
    height: 150px;
}

h3{
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

#featured ul{
    padding-left: 50%;
    list-style: none;
    color: #990033;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
}

#featured ul li{
    padding: 3px 0px 0px 5px;
    background: rgba(255, 255, 255, .5);
}

#actionbtn{
    width: 170px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 5px;
    font-size: 20px;
    padding-right: 60px;
}

#reviews ul{
    margin: 0;
    font-size: 15px;
}

#recipes{
    display: flex;
    flex-wrap: wrap;
}

#recipeHeader{
    padding-right: 100px;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80808085;
    width: 35%;
    margin: 5px;
}

figcaption{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

footer{
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
}

footer p{
   margin: 2px 0px 0px 0px;
}

/* CSS for items page */
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemHeader{
    font-size: 30px;
    margin-left: 15px;
    padding: 0px;
}

#description{
    /* width: 90%; */
    margin: 15px;
}

#itemList{
    list-style: none;
    align-self: flex-start;
    padding-left: 15px;
}

#price{
    align-self: flex-start;
    padding: 0px 0px 5px 15px;
    font-size: 30px;
    font-weight: bold;
    color: #990033;
    margin: 0px;
}

/* Larger Rules */
@media screen and (min-width: 840px){
    html{
        background-size: cover;
    }

    body{
        width:80%;
        margin: auto; 
    }

    nav ul{
        font-size: 20px;
        height: 50px;
        margin: 0px;
    }

    h1{
        font-size: 35px;
    }

    #featured{
        background-size: cover;
        height: 500px;
        padding-left: 33%;
    }

    #actionbtn{
        width: auto;
    }

    h3{
        font-size: 30px;
        font-weight: 900;
    }

    #featured ul{
        font-size: 25px;
        font-weight: lighter;
    }

    #featured ul li{
        background: none;
    }

    #reverse{
        display: flex;
    }

    h2{
        font-size: 30px;
    }

    #recipeHeader{
        padding-right: 80px;
    }

    #recipes{
        order: 0;
        padding-left: 100px;
        width: 400px;
    }

    figure{
        width: 40%;
    }

    figcaption{
        height: 100%;
        width: 100%;
    }

    #reviews{
        order: 1;
    }

    #reviews ul li{
        font-size: 20px;
    }

    #content{
        display: flex;
        flex-direction: row;
    }

    #innerContent{
        overflow: hidden;
    }

    #itemPicture{
        margin: 5px 100px 10px 100px;
    }

    #description{
        margin-left: 15px;
    }

    footer{
        font-size: 15px;
    }
}